<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>卡片主页</title>-->
    <!--<link rel="stylesheet" href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css">-->
    <!--<style>-->
        <!--.avatar{-->
            <!--width: 40px;-->
            <!--height: 40px;-->
        <!--}-->
        <!--.bar{-->
            <!--background-color: darkcyan;-->
        <!--}-->
    <!--</style>-->
<!--</head>-->
<!--<body>-->
<!--<nav class="navbar navbar-default bar">-->
    <!--<div class="container">-->
        <!--<div class="navbar-left">-->
            <!--<h4>卡牌</h4>-->
        <!--</div>-->
        <!--<div class="navbar-right">-->
            <!--&lt;!&ndash;<img th:src="@{'img/'+${user.avatar}}" class="img-circle avatar">&ndash;&gt;-->
            <!--&lt;!&ndash;<span th:text="${user.name}"></span>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->
<!--<div class="container">-->
    <!--&lt;!&ndash;<div class="col-md-3" th:each="card:${cardList}">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="thumbnail">&ndash;&gt;-->
            <!--&lt;!&ndash;<img th:src="@{'img/'+${card.imgLink}}">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="caption">&ndash;&gt;-->
                <!--&lt;!&ndash;<h3 th:text="${card.title}" class="text-center"></h3>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--</body>-->
<!--</html>-->